@media screen and (max-width:576px) {

    /* nav start */
    .hero-section {
        padding-top: 52px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .nav-items {
        display: none;
    }

    .nav-icon-for-mobile {
        display: block;
    }

    /* nav end */
    /* banner start */
    .banner-section {
        flex-direction: column;
    }

    .banner-content {
        width: 100%;
    }

    .banner-content .title {
        font-size: 36px;
        width: 285px;
    }

    .banner-content .description {
        width: 70%;
        width: 285px;
    }

    #shape {
        font-size: 36px;
    }

    .banner-btn .btn-primary {
        padding: 16px 20px;
        font-size: 14px;
    }

    .banner-image {
        margin-top: 20px;
        width: 100%;

    }
    .banner-image img {
        margin-left: 0;
    }

    .badge-one {
        height: 72px;
        width: 155px;
        top: 47%;
        left: 13%;
    }

    .badge-two {
        width: 145px;
        height: 74px;
        top: 10%;
        right: 7%;

    }

    .badge-one .title {
        font-size: 18px;
    }

    .badge-two .title {
        font-size: 18px;
    }

    .badge-one .description {
        font-size: 12px;
    }

    .badge-two .description {
        font-size: 9px;
    }

}