@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-weight: 900;
    color: white;
}

.description {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


/* hero section start */
.hero-section {
    margin: 0 auto;
    padding-top: 57px;
}

.navbar {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid yellowgreen; */
    padding: 4px;
}

.nav-band {
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.nav-items {
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 47px;
    padding: 4px;
    border-radius: 39px;
}

.btn-primary {
    background: rgb(230, 83, 60);
    padding: 8px 20px;
    border-radius: 46px;
    border: none;
    color: white;
    font-size: 18px;
}

.navbar ul li {
    list-style: none;
    font-size: 18px;
}

.nav-item-last {
    margin-right: 20px;
    margin-left: 20PX;
}

.nav-icon-for-mobile {
    display: none;
}

/* banner-section start */
.banner-section {
    /* border: 5px solid white; */
    display: flex;
    max-width: 1060px;
    align-items: center;
    margin: 0 auto;
    margin-top: 32px;
    justify-content: center;
}

.banner-content {
    width: 50%;

    /* border: 5px solid skyblue; */
    /* background-color: aqua; */
}

.banner-content-wrapper {
    max-width: 520px;
    /* border: 1px solid blueviolet; */
}

.banner-content .title {
    font-size: 78px;
    font-weight: 900;
}

.banner-content .description {
    margin: 28px 0;
}

.banner-btn {
    display: flex;
    gap: 14px;
}

.banner-btn .btn-primary {
    padding: 16px 40px;
}

.banner-btn .btn-primary:last-child {
    background-color: transparent;
    border: 1px solid white;
}

#shape {
    font-family: 'Miama', sans-serif;
    line-height: 1px;
    font-size: 78px;
    font-weight: 400;
    font-style: italic;
}

.banner-image {
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-image img {
    /* border: 1px solid yellowgreen; */
    width: 350px;
    height: 580px;
    margin-left: 145px;
}

/* badge */
.badge-one {
    padding: 20px 23px;
    position: absolute;
    top: 71%;
    left: 16%;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);

    display: flex;
    align-items: center;
    gap: 12px;
}

.badge-one div {
    text-align: left;
}

.badge-two {
    padding: 14px 30px;
    position: absolute;
    top: 20%;
    right: -5%;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
}

.badge-one .title {
    font-size: 24px;
    color: white;
    font-weight: 900;
}

.badge-two .title {
    font-size: 40px;
    /* color: white;
    font-weight: 900; */
}

.badge-circle {
    width: 20px;
    height: 20px;
    background-color: tomato;
    border-radius: 50%;
}

/* hero section end */

/* run extra mile start */
.run-extra-container {
    max-width: 1060px;
    margin: 100px auto;
    border-radius: 18px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 30px 30px 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.run-extra-container div {
    /* border: 2px solid green; */
    /* background-color: red; */
}

.run-content {
    width: calc(50% - 75px);
}
.run-content .title{
    font-size: 48px;
}
.run-content .description{
    font-size: 14px;
    margin-top: 14px;
}
.run-content .btn-primary{
    padding: 16px 80px;
    border-radius: 42px;
    margin-top: 50px;
}

.run-image {
    width: calc(50% - 75px);
    display: flex;
    justify-content: end;
}

.run-image img {
    width: 366px;
    height: 312px;
    object-fit: cover;
    border-radius: 18px;

}