@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');


body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title {
    font-weight: 900;
    color: white;
}

.sub-title {
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.description {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}



/* hero section start */
.hero-section {
    border: 2px solid green;
    /* width: 1440px; */
    margin: 0 auto;
    padding-top: 57px;
}

.navbar {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid yellowgreen; */
    padding: 4px;
}

.nav-band {
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.nav-items {
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 47px;
    padding: 4px;
    border-radius: 39px;
}

.btn-primary {
    background: rgb(230, 83, 60);
    padding: 8px 20px;
    border-radius: 46px;
    border: none;
    color: white;
    font-size: 18px;
}

.navbar ul li {
    list-style: none;
    font-size: 18px;
}

.nav-item-last {
    margin-right: 20px;
    margin-left: 20PX;
}

.nav-icon-for-mobile {
    display: none;
}

/* banner-section start */
.banner-section {
    /* border: 5px solid white; */
    display: flex;
    max-width: 1060px;
    align-items: center;
    margin: 0 auto;
    margin-top: 32px;
    justify-content: center;
}

.banner-content {
    width: 50%;

    /* border: 5px solid skyblue; */
    /* background-color: aqua; */
}

.banner-content-wrapper {
    max-width: 520px;
    /* border: 1px solid blueviolet; */
}

.banner-content .title {
    font-size: 78px;
    font-weight: 900;
}

.banner-content .description {
    margin: 28px 0;
}

.banner-btn {
    display: flex;
    gap: 14px;
}

.banner-btn .btn-primary {
    padding: 16px 40px;
}

.banner-btn .btn-primary:last-child {
    background-color: transparent;
    border: 1px solid white;
}

#shape {
    font-family: 'Miama', sans-serif;
    line-height: 1px;
    font-size: 78px;
    font-weight: 400;
    font-style: italic;
}

.banner-image {
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-image img {
    /* border: 1px solid yellowgreen; */
    width: 350px;
    height: 580px;
    margin-left: 145px;
}

/* badge */
.badge-one {
    padding: 20px 23px;
    position: absolute;
    top: 71%;
    left: 16%;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);

    display: flex;
    align-items: center;
    gap: 12px;
}

.badge-one div {
    text-align: left;
}

.badge-two {
    padding: 14px 30px;
    position: absolute;
    top: 20%;
    right: -5%;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
}

.badge-one .title {
    font-size: 24px;
    color: white;
    font-weight: 900;
}

.badge-two .title {
    font-size: 40px;

}

.badge-circle {
    width: 20px;
    height: 20px;
    background-color: tomato;
    border-radius: 50%;
}

/* hero section end */

/* second- habit section start ***************/
.change-your-habit {
    border: 2px solid green;
    max-width: 1044px;
    margin: 100px auto auto;
}

.habit-content {
    border: 2px solid yellow;
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 58px;
}

.habit-content .title {
    font-size: 48px;
    margin-bottom: .90rem;
}

.habit-cards {
    border: 5px seagreen solid;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.habit-cards .habit-card {
    width: 22%;
    border: 1px solid red;

}


.habit-cards img {
    width: 80%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.43);
}

.habit-cards .sub-title {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 6px;
}

.habit-cards .description {
    font-size: 14px;
}

/* second- habit section end ***************/


/* third section */
.third-section {}

/* run extra mile start */
.run-extra-container {
    border: 2px solid green;
    max-width: 1060px;
    margin: 100px auto;
    border-radius: 18px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 30px 30px 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.run-content {
    width: calc(50% - 75px);
}

.run-content .title {
    font-size: 48px;
}

.run-content .description {
    font-size: 14px;
    margin-top: 14px;
}

.run-content .btn-primary {
    padding: 16px 80px;
    border-radius: 42px;
    margin-top: 50px;
}

.run-image {
    width: calc(50% - 75px);
    display: flex;
    justify-content: end;
}

.run-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 18px;
}

/* BMI-section start */
.bmi-section {
    margin-top: 78px;
    /* border: 2px solid green; */
}

.bmi-content {
    max-width: 671px;
    margin: 0 auto;
}

.bmi-content .title {
    font-size: 48px;
    margin-bottom: 14px;
}

.bmi-content .description {
    font-size: 14px;
}

.bmi-wrapper {
    margin-top: 70px;
    background: rgb(34, 34, 34);
    padding: 50px 0;
}

.bmi-container {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
}

.bmi-chart {
    /* border: 2px solid red; */
    width: 45%;
}

.bmi-chart .title {
    font-size: 28px;
    margin-bottom: 52px;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 13px 40px;
    font-size: 16px;
    font-weight: 500;
}

td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 20px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-calculator {
    border: 2px solid green;
    width: 55%;
}

.bmi-calculator .title {
    font-size: 28px;
}

.bmi-calculator .description {
    font-size: 14px;
    margin: 14px 0 34px;
}

.bmi-input-container {
    border: 4px solid yellow;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
    margin-bottom: 34px;
}

.bmi-input-container input , select{
    padding: 12px 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
}
.bmi-input-container select{
    color: rgb(128, 128, 128);
}
#activity{
grid-column: span 2;
}
.bmi-calculator .btn-primary{
    padding: 16px 50px;
    font-size: 18px;
    font-weight: 600;
}
/* bmi end */